/* Estilo para la alerta de información */
.custom-good-dialog .alert {
    -fx-background-color: #dff0d8; /* Color de fondo verde claro */
    -fx-border-color: #3c763d; /* Borde verde oscuro */
    -fx-text-fill: #3c763d; /* Texto verde oscuro */
}

/* Estilo para la alerta de error */
.custom-error-dialog .alert {
    -fx-background-color: #f2dede; /* Color de fondo rosa claro */
    -fx-border-color: #a94442; /* Borde rojo oscuro */
    -fx-text-fill: #a94442; /* Texto rojo oscuro */
}

/* Estilo para la alerta de confirmación */
.custom-confirmation-dialog .alert {
    -fx-background-color: #d9edf7; /* Color de fondo azul claro */
    -fx-border-color: #27ae60; /* Borde verde oscuro */
    -fx-text-fill: #27ae60; /* Texto verde oscuro */
}

/* Estilo para la alerta de advertencia */
.custom-warning-dialog .alert {
    -fx-background-color: #fcf8e3; /* Color de fondo amarillo claro */
    -fx-border-color: #8a6d3b; /* Borde marrón oscuro */
    -fx-text-fill: #8a6d3b; /* Texto marrón oscuro */
}

/* Estilo genérico para las demás alertas */
.custom-generic-dialog .alert {
    -fx-background-color: #f5f5f5; /* Color de fondo gris claro */
    -fx-border-color: #dddddd; /* Borde gris medio */
    -fx-text-fill: #333333; /* Texto gris oscuro */
}